/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
body {padding-top: 50px;}

.container { min-height: 650px; padding-left: 0; padding-right: 0px; height: 1000px;}
.container-yield {padding: 20px 15px 0px 15px;}
.movie-margin { margin-top: 10px;}

/* All settings for navbar */
.icon { width: 40px;}
.navbar-light { background-color: #409fe0; text-decoration: white;}
.nav.navbar-nav > li > a {color: white;}
.navbar-light .navbar-toggle .icon-bar { background-color: #888; }
.navbar-light .navbar-toggle { border-color: #ddd; }
.navbar-form { margin-right: inherit; }
.navbar ul li a:hover, .navbar-header a:hover { background-color: #2e6da4; }
.search:focus { background-color: #f1f1f1}
