// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-settings{ max-width: 480px;}
.movie-margin figure { text-align: center; }
.movie-margin { margin-top: 10px;}
.tmdb { display: -webkit-inline-box !important; width: inherit !important;}
