<!-- <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5"> -->
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Rating</strong></td>
                <td><%= @review.rating %></td>
              </tr>
              <tr>
                <td><strong>Comment</strong></td>
                <td><%= @review.comment %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <!-- </div>
    </div>
  </div>
</div> -->
<%= link_to 'Back', reviews_path %>
