<% if @search.present? %>
  <%= search_form_for @search, :html => { :class => "navbar-form navbar-right"} do |f| %>
    <div class="form-group">
      <%= f.search_field :title_cont, class: "search form-control", :placeholder => "Search"  %>
    </div>
    <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
  <% end %>
<% end %>
